@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

.accInfoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accInfoContainerBorder {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    border-radius: 10px;
    background-color: #f5f5f5;
    width: 860px;
    margin: auto;
    position: relative;
    top: 16px;
    margin-bottom: 40px;
}

.accInfoCategories {
    background-color: #acacac;
    width: 220px;
    height: 400px;
    float: left;
    top: 0px;
    position: relative;
    border: none;
    border-right: 2px solid #F1AF3D;
}

.accInfoContainer {
    padding-top: 1%;
    overflow: auto;
    position: relative;
    border: none;
}

.infoLabel {
    font-weight: bold;
}

.infoText {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 16px;
}

.accInfoContainerBorder .selectedButton {

}

.accInfoContainerBorder .selectedButton:hover {
    background-color: #F1AF3D;
    color: white;
}

.accInfoContainerBorder .deselectedButton {
    background-color: #acacac;
    color: black;
}

.accInfoContainerBorder .deselectedButton:hover {
    background-color: #F1AF3D;
    color: white;
}

.accInfoContainerBorder button {
    border: none;
    border-bottom: 2px solid #f5f5f5;
    width: 220px;
    height: 100px;
    background-color: black;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.accInfoContainer .acc-form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.acc-form-group table{
    margin-left: auto;
    margin-right: auto;
}

.acc-form-group th{
    margin-left: 10px;
    margin-right: 10px;
}

.editacc-btn{
    border: 0px;
    border-radius: 4px;
    padding: 9px 40px;
    background-color: #000000;
    max-width: 200px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    transition-duration: 0.2s;
}

.editacc-btn:hover {
    cursor: pointer;
    background-color: #F1AF3D;
    opacity: 1;
    color: white;
}

.navbar .odfds-logo {
    width: 10%;
    height: 10%;
    margin-left: 80px;
    margin-top: 40px;
    padding-left: 0px;
    padding-top: 0px;
    max-width: 160px;
    max-height: 160px;
}

.navbar ul {
    padding-bottom: 0px;
}

.order_hist_table {
    flex: 1;
}

.order_hist_table .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.order_hist_table .col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order_hist_table .col text{
    height: 40px;
    font-size: 16px;
    padding: 5px;
}

.order-receipt-button button{
    border: 0px;
    border-radius: 4px;
    background-color: #000000;
    width: 100px;
    max-height: 40px;
    font-size: 14px;
    color: #FFFFFF;
}