/* Area for features that a restaurant has such as add to menu, search for driver, etc */
.rest-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 2%;
    gap: 1%;
    text-align: center;
}


.rest-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40px;
}


/*Driver Search Button*/
.rest-container button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
    border: none;
    font-size: 25px;
}

.rest-container button:hover {
    background-color: #f1af3d;
    cursor: pointer;
}

/*Dashboard Alignment*/
.aligned {
    height: 400px;
}

.column1 {
    float: left;
}

.column2 {
    float: left;
    margin-left: 180px;
    margin-top: -120px;
}

.column3 {
    float: right;
    margin-top: -50px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/*Text*/
.rest-lookdriver h2 {
    color: #acacac;
}


/*Progress Bar*/
.row ul{
    display: flex;
    flex-direction: column;
}
.row ul li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row ul li .progress{
    margin: 40px;
    display: inline-grid;
    place-items: center;
    background-color: transparent;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    position: relative;
    cursor: pointer;
}
.row .progress::after{
    position: absolute;
    content: " ";
    background-color: transparent;
    width: 10px;
    height: 125px;
    bottom: 45px;
    z-index: -1;
}
.row .one::after{
    width: 0;
    height: 0;
}

.row ul li .active{
    background-color: #f1af3d;
    display: inline-grid;
    place-items: center;
}

.row li .active::after{
    background-color: #f1af3d;
}

/* FOR INCOMING ORDERS  */ 
.incoming-orders{
    background-color: #acacac;
}

/* FOR MENU */
.rest-menu{
    background-color: #acacac;
}