/* MAKE SURE FONT IS IMPORTED*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

/* NAVBAR */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 25px;
    padding-right: 75px;
    padding-bottom: 25px;
}
.navbar li {
    display: inline;
    float: right;
    padding: 7px;
}
.navbar li a {
    font-family: 'Poppins', sans-serif;
    display: block;
    color: #FFFFFF;
    background-color: #000000;
    text-align: center;
    padding: 8px 17px;
    text-decoration: none;
    border-radius: 4px;

}
.navbar li a:hover {
    background-color: #F1AF3D;
}

/* LOGO */
.navbar .odfds-logo {
    max-height: 150px;
    max-width: 150px;
    padding-left: 75px;
    padding-top: 150px;
}