/* MAKE SURE FONT IS IMPORTED*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

body {
    overflow-y: scroll;
    margin-bottom: 150px;
}

/* NAVBAR */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 25px;
    padding-right: 75px;
    padding-bottom: 25px;
}
li {
    display: inline;
    float: right;
    padding: 7px;
}
li a {
    font-family: 'Poppins', sans-serif;
    display: block;
    color: #FFFFFF;
    background-color: #000000;
    text-align: center;
    padding: 8px 17px;
    text-decoration: none;
    border-radius: 4px;

}
li a:hover {
    background-color: #F1AF3D;
}

/* LOGO */
.odfds-logo {
    max-height: 150px;
    max-width: 150px;
    padding-left: 75px;
    padding-top: 175px;
}

/* TEXT */
.welcome-to-odfds {
    font-family: 'Poppins', sans-serif;
    color: #F1AF3D;
    font-size: 55px;
    font-weight: 500;

    padding-left: 75px;
    margin: 0px;
}
.plate-empty {
    font-family: 'Poppins', sans-serif;
    color: #acacac;
    font-size: 35px;
    font-weight: 200;
    font-style: italic;

    padding-left: 75px;
    margin: 0px;
}
.prompt-online-status {
    font-family: 'Poppins', sans-serif;
    color: #acacac;
    font-size: 20px;
    font-weight: 200;

    padding-left: 75px;
    margin: 0px;
}

/* BUTTON(S) */
button {
    border: 0px;
    border-radius: 4px;
    padding: 9px 40px;
    margin-left: 75px;
    background-color: #000000;

    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;

    transition-duration: 0.2s;
}
button:hover {
    cursor: pointer;
    background-color: #F1AF3D;
    opacity: 1;

    color: white;
}

/* PAGE FOOTER */
.footer {
    font-family: 'Poppins', sans-serif;
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 0;
    padding-bottom: 0;
    margin-top: auto;
    width: 100%;
    height: 70px;
    background-color: #F1AF3D;
    color: #000000;
}

.odfds-title {
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    font-weight: 600;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 3px;
}

.socials {
    align-content: center;
    max-width: 25px;
    max-height: 24px;
    padding-left: 10px;
}

.appstore-download {
    max-height: 28px;
}

.playstore-download {
    max-height: 26px;
}
/* PAGE FOOTER ENDS */