/* Area for features that a restaurant has such as add to menu, search for driver, etc */
.cust-wrapper{
    display: flex;
    gap: 1%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

/* Order history */ 
.cust-orderhist{
    display: flex;
    margin: 0 2%;
    gap: 1%;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #acacac;
    border-radius: 10px;
}

#order-list{
    max-height: 800px;
    width: 600px;
    overflow-y: auto;
    text-align: left;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.order-item {
    margin: 40px;
}

.order-item h1, .order-item p {
    display: inline;
    margin: 0;
    padding-right: 10px;
}
  

/* FOR RESTAURANT LIST */
.cust-restlist{
    display: flex;
    margin: 0 2%;
    gap: 1%;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #acacac;
    border-radius: 10px;
}

#rest-list{
    max-height: 800px;
    width: 600px;
    overflow-y: auto;
    text-align: left;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.rest-item{
    margin: 40px;
}

.rest-item button{
    float: right;
}

.rest-item h1, .rest-item p {
    display: inline;
    margin: 0;
    padding-right: 10px;
}
  
  