@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
/* Area for features that a restaurant has such as add to menu, search for driver, etc */
.rest-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 2%;
    gap: 1%;
    text-align: center;
}


.rest-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 40px;
}


/*Driver Search Button*/
.rest-container button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 10px;
    border: none;
    font-size: 25px;
}

.rest-container button:hover {
    background-color: #f1af3d;
    cursor: pointer;
}

/*Dashboard Alignment*/
.aligned {
    height: 400px;
}

.column1 {
    float: left;
    margin-left: 40px;
    margin-top: 0px;
}


.row::after {
    content: "";
    clear: both;
    display: table;
}

/*Text*/
.rest-lookdriver h2 {
    color: #acacac;
}


/*Progress Bar*/
.row ul{
    display: flex;
}
.row ul li{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row ul li .progress{
    margin: 50px;
    display: inline-grid;
    place-items: center;
    background-color: transparent;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    position: relative;
    cursor: pointer;
}
.row .progress::after{
    position: absolute;
    content: " ";
    background-color: transparent;
    width: 200px;
    height: 10px;
    bottom: 30px;
    right: 25px;
    z-index: -1;
}
.row .one::after{
    width: 0;
    height: 0;
}

.row ul li .active{
    background-color: #f1af3d;
    display: inline-grid;
    place-items: center;
}

.row li .active::after{
    background-color: #f1af3d;
}

/* FOR INCOMING ORDERS  */ 
.incoming-orders{
    background-color: #acacac;
}

/* FOR MENU */
.rest-menu{
    background-color: #acacac;
}

#menu-list{
    max-height: 400px;
    overflow-y: scroll;
    text-align: left;
    margin-left: 30%;
}


.menu-item h1, .menu-item p {
    display: inline;
    margin: 0;
    padding-right: 10px;
}

.currentDeliveriesBorder {
    overflow: hidden;
    border-radius: 10px;
    background-color: #f5f5f5;
    width: 690px;
    height: 390px;
    position: relative;
    margin-bottom: -50px;
    text-align: left;
}

.currentDeliveries {
    width: 690px;
    height: 390px;
    border-radius: 10px;
    border: none;
    background-color: #f5f5f5;
    overflow: auto;
    margin-bottom: -50px;
    text-align: left;
    margin-left: 20px;
}


.currentDeliveries h1 {
    color: #f1af3d;
    margin-left:0px;
    font-size: 30px;
    margin-bottom: 20px;
}

#minuteText {
    float: right;
    margin-right: 35px;
} 
