/* MAKE SURE FONT IS IMPORTED*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

body {
    /* overflow-y: scroll; */
    margin-bottom: 150px;
}

/* NAVBAR */
.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;   
}
.navbar ul {
    list-style-type: none;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar li {
    padding: 7px;
}
.navbar li a {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    background-color: #000000;
    text-align: center;
    padding: 8px 17px;
    text-decoration: none;
    border-radius: 4px;

}
.navbar li a:hover {
    background-color: #F1AF3D;
}

.navbar h1 {
    color: #F1AF3D;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* LOGO */
.navbar .odfds-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    max-height: 150px;
    max-width: 150px;
}
/* LOGO ENDS */

/* NAVBAR ENDS */

/* WHITESPACE -- can copy/paste then alter height so that content towards the
bottom of the page isn't blocked by the page footer */
.whitespace {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    left: 0;
    bottom: 0;
    padding-bottom: 0;
    margin-top: auto;
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
}

/* PAGE FOOTER */
.footer {
    font-family: 'Poppins', sans-serif;
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 0;
    padding-bottom: 0;
    margin-top: auto;
    width: 100%;
    height: 70px;
    background-color: #F1AF3D;
    color: #000000;
}

.odfds-title {
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    font-weight: 600;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 3px;
}

.socials {
    align-content: center;
    max-width: 25px;
    max-height: 24px;
    padding-left: 10px;
}

.appstore-download {
    max-height: 28px;
}

.playstore-download {
    max-height: 26px;
}
/* PAGE FOOTER ENDS */